<!DOCTYPE html>
<html lang="es">
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'vv/css/base.css' %}" />
    <title>{% block title %}Votaciones Visibles{% endblock %}</title>
    <meta charset="utf-8">
</head>

<body>
    {% block header %}
    <div id="header">
        <img class="header-img" src= "{% static 'vv/images/logo.png' %}" />
        <ul id="header-pclave">
            <li>PROYECTOS CLAVE: </li>
            <li><a href=#>Proyecto 1 /</a></li>
            <li><a href=#>Proyecto 2 /</a></li>
            <li><a href=#>Proyecto 3 /</a></li>
            <li><a href=#>Proyecto 4 /</a></li>
        </ul>
        <form method="post" action="#" class="header-buscar">
        <table class="header-tabla">
            <tr class="header-tabla">
                <td><input type="submit" class="btn-buscar" value="">
                <input type="text" class="txt-buscar" name="q" placeholder="Buscar"></td>
            </tr>
            <tr class="header-tabla2">
                <td>
                    <p class="header-tabla"><b>{% now "F j" %}</b><br>{% now "l" %}</p>
                </td>
            </tr>
        </table>
        </form>
    </div>
    {% endblock %}

    {% block sidebar %}
    <div id="sidebar">
        <ul class="sidebar-secciones">
            <li><a href=#>    Congreso    </a></li>
            <ul class="sidebar-detalle">
                <li><a href=#>Senado</a></li>
                <li><a href=#>Cámara</a></li>
            </ul>
            <li><a href=#>Proyectos de Ley</a></li>
            <li><p class="sidebar-secciones">    Partidos    </p></li>
            <ul class="sidebar-detalle">
                <li><a href=#>ASI</a></li>
                <li><a href=#>Alianza Verde</a></li>
                <li><a href=#>AICO</a></li>
                <li><a href=#>Cambio Radical</a></li>
                <li><a href=#>Centro Democrático</a></li>
                <li><a href=#>Funeco</a></li>
                <li><a href=#>La U</a></li>
                <li><a href=#>Liberal</a></li>
                <li><a href=#>MAIS</a></li>
                <li><a href=#>MIR</a></li>
                <li><a href=#>MIRA</a></li>
                <li><a href=#>Cien por ciento</a></li>
                <li><a href=#>Opción Ciudadana</a></li>
                <li><a href=#>Polo Democrático</a></li>
                <li><a href=#>Por un Huila Mejor</a></li>
            </ul>
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
</body>
<footer id="footer">
        {% block footer %}
        <p> Votaciones Visibles es un producto desarrollado por Daniel Cárdenas<br>
        Toda la información mostrada proviene de Congreso Visible<br>
        2015</p>
        {% endblock %}
</footer>
</html>