{% extends "vv/base.html" %}

{% block imports%}
{% load staticfiles %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.2/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<script src="http://code.highcharts.com/modules/solid-gauge.js"></script>
{% endblock %}
{% block title %}{{ persona.nombre_completo }} - Votaciones Visibles{% endblock %}

{% block content %}
    <h1 id="congresista_seleccionado">
        <img id="logo" class="img-circle" style="border-color:{{partido.get_color}}" src="{{ foto }}">
        <label for="logo">{{ persona.nombre_completo|upper }}</label><br> </h1>
        <h3 id="congresista_seleccionado_h3" style="color:{{partido.get_color}}">{{ partido.nombre|upper }}</h3>
    <br><br>
    <div class="styled-select">
            <label>TEMA: </label>
            <select id="combobox" size="10">
                <option value="-1">Todos los temas</option>
                {% for tema in temas %}
                <option value="{{ tema.id }}">{{ tema.nombre }}</option>
                {% endfor %}
            </select>
        </div>

    <br>
    <div id="columna_izquierda">
        <div id="charts_titulo"></div>
        <table>
            <tr>
                <td>
                    <h6 id="titulo_gubernamental"></h6>
                </td>
                <td>
                    <h6 id="titulo_partido"></h6>
                </td>
                <td>
                    <h6 id="titulo_otros_partidos"></h6>
                </td>
                <td>
                    <h6 id="titulo_otras"></h6>
                </td>
            </tr>
            <tr>
                <td>
                    <div id="chart_gubernamental" class="chart_resumen_votos"></div>
                </td>
                <td>
                    <div id="chart_partido" class="chart_resumen_votos"></div>
                </td>
                <td>
                    <div id="chart_otros_partidos" class="chart_resumen_votos"></div>
                </td>
                <td>
                    <div id="chart_otras" class="chart_resumen_votos"></div>
                </td>
            </tr>
        </table>

    </div>
    <div id="columna_derecha">
        <div id="tabla" class="tabla-detalle-partido"></div>
    </div>

    <div id="disciplina">
        <div id="titulo_disciplina"></div>
        <div id="chart_disciplina">
            <table>
                <tr>
                {% for leg in anios %}
                <td><h5 id="titulo_{{ leg }}"></h5>
                <div id="chart_{{ forloop.counter0 }}" class="chart_disciplina_cong"></div></td>
                {% endfor %}
                </tr>
            </table>
        </div>
    </div>
<script type="text/javascript" charset="UTF-8">
(function( $ ) {
		$.widget( "custom.combobox", {
			_create: function() {
				this.wrapper = $( "<span>" )
					.addClass( "custom-combobox" )
					.insertAfter( this.element );

				this.element.hide();
				this._createAutocomplete();
				this._createShowAllButton();
			},

			_createAutocomplete: function() {
				var selected = this.element.children( ":selected" ),
					value = selected.val() ? selected.text() : "";

				this.input = $( "<input>" )
					.appendTo( this.wrapper )
					//.val( value )
					.val( "Seleccione" )
					.attr( "title", "" )
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy( this, "_source" )
					})
					//.tooltip({tooltipClass: "ui-state-highlight"});

				this._on( this.input, {
					autocompleteselect: function( event, ui ) {
						ui.item.option.selected = true;
						this._trigger( "select", event, {
							item: ui.item.option
						});
					},

					autocompletechange: "_removeIfInvalid"
				});
			},

			_createShowAllButton: function() {
				var input = this.input,
					wasOpen = false;

				$( "<a>" )
					.attr( "tabIndex", -1 )
					.tooltip()
					.appendTo( this.wrapper )
					.button({
						icons: {
							primary: "ui-icon-triangle-1-s"
						},
						text: false
					})
					.removeClass( "ui-corner-all" )
					//.addClass( "custom-combobox-toggle ui-corner-right" )
					.mousedown(function() {
						wasOpen = input.autocomplete( "widget" ).is( ":visible" );
					})
					.click(function() {
						input.focus();

						// Close if already visible
						if ( wasOpen ) {
							return;
						}

						// Pass empty string as value to search for, displaying all results
						input.autocomplete( "search", "" );
					});
			},

			_source: function( request, response ) {
				var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				response( this.element.children( "option" ).map(function() {
					var text = $( this ).text();
					if ( this.value && ( !request.term || matcher.test(text) ) )
						return {
							label: text,
							value: text,
							option: this
						};
				}) );
			},

			_removeIfInvalid: function( event, ui ) {

				// Selected an item, nothing to do
				if ( ui.item ) {
					return;
				}

				// Search for a match (case-insensitive)
				var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;
				this.element.children( "option" ).each(function() {
					if ( $( this ).text().toLowerCase() === valueLowerCase ) {
						this.selected = valid = true;
						return false;
					}
				});

				// Found a match, nothing to do
				if ( valid ) {
				    return;
				}

			},

			_destroy: function() {
				this.wrapper.remove();
				this.element.show();
			},
			//Aca llega cuando se elige una opcion
			_trigger: function(request, event, ui) {
			    var tema_id = -1;
			    if (ui != null){
			        tema_id = ui.item.value;
			    }
                var congresista = {{ persona.id|safe }};
                $.ajax({ // ajax del resumen de votos
                    data: {'tema_id': tema_id, 'congresista_id': congresista},
                    type: $(this).attr('GET'),
                    url: '/busqueda/resumen_votos_congresista/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarResumenVotos(response.resumen_votos);
                        }
                });
                $.ajax({ // ajax de la tabla
                    data: {'tema_id': tema_id, 'congresista_id': congresista},
                    type: $(this).attr('GET'),
                    url: '/busqueda/ultimas_votaciones_congresista/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarTabla(response.ultimas_votaciones);
                        }
                });
                $.ajax({ // ajax de la disciplina
                    data: {'tema_id': tema_id, 'congresista_id': congresista},
                    type: $(this).attr('GET'),
                    url: '/busqueda/disciplina_congresista/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarDisciplina(response.disciplina_iap, response.anios, response.color);
                        }
                });
			},

		});
	})( jQuery );

	$(function() {
		$( "#combobox" ).combobox();
		$( "#toggle" ).click(function() {
			$( "#combobox" ).toggle();
		});
	});
</script>
<script type="text/javascript" charset="UTF-8">
    function dibujarResumenVotos(resumen) {
        var html = "<h4>" + "RESUMEN DE VOTOS <br>" + resumen.tema + " (" + resumen.total_proyectos + " proyectos)</h4>";
        document.getElementById("charts_titulo").innerHTML = html;
        iniciativas = ["gubernamental", "partido", "otros_partidos", "otras"];
        document.getElementById("titulo_gubernamental").innerHTML = "INICIATIVA<br>GUBERNAMENTAL<br>("+resumen['gubernamental'].num_votos+" votos)";
        document.getElementById("titulo_partido").innerHTML = "INICIATIVA<br>DEL PARTIDO<br>("+resumen['partido'].num_votos+" votos)";
        document.getElementById("titulo_otros_partidos").innerHTML = "INICIATIVA<br>OTROS PARTIDOS<br>("+resumen['otros_partidos'].num_votos+" votos)";
        document.getElementById("titulo_otras").innerHTML = "OTRAS<br>INICIATIVAS<br>("+resumen['otras'].num_votos+" votos)";
        for (iniciativa of iniciativas) {
            element_id = "#chart_"+iniciativa;
            $(function () {
	        $(element_id).highcharts({
	            chart: {
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: true,
	                type: 'pie',
	                style: {
                    fontFamily: 'sans-serif',
                },
	            },
	            title: {
	                text: ''
	            },
	            tooltip: {
	                pointFormat: '<b>{point.percentage:.1f}% <br> ({point.y} votos)</b>'
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: false
	                    },
	                    showInLegend: true
	                }
	            },
	            series: [{
	                name: "Votos",
	                colorByPoint: true,
	                innerSize: '50%',
	                data: [{"name": "Sí", "y": resumen[iniciativa].si, "color":'#149E00'},
	                       {"name": "No", "y": resumen[iniciativa].no, "color":'#CD0000'},
	                       {"name": "Abstenciones", "y": resumen[iniciativa].abstenciones, "color":'#D3D3D3'},
	                       {"name": "Inasistencias", "y": resumen[iniciativa].inasistencias, "color":'#E1E100'}],
	            }],
	            });
	        });
        }
    }
    function dibujarTabla(proyectos) {
         var html = '<h4>ÚLTIMAS VOTACIONES DEL CONGRESISTA</h4><table class="tabla-partido">';
            for (proyecto of proyectos) {
                var url = "{% url 'proyecto' 990 %}".replace("990",  proyecto.id);
                var voto_congresista = proyecto.voto_congresista;
                var vci = "";
                if (voto_congresista==2) {
                    vci = "<img src= '{% static "vv/images/si.png" %}'/>";
                } else if (voto_congresista==1) {
                    vci = "<img src= '{% static "vv/images/no.png" %}'/>";
                } else if (voto_congresista==0) {
                    vci = "<img src= '{% static "vv/images/abstencion.png" %}'/>";
                } else if (voto_congresista==3) {
                    vci = "<img src= '{% static "vv/images/inasistencia.png" %}'/>";
                }
                var votos_totales = proyecto.votos_totales;
                html += "<tr>"+
                     '        <td colspan=10 class="tabla-partido-tr-lleno"><a href=" '+url+' ">'+ proyecto.nombre +"</a></td>"+
                     "    </tr>"+
                     "    <tr>"+
                     "        <td class='tabla-partido-td-imagen'><img src= '{% static "vv/images/si.png" %}'/></td>"+
                     "        <td>"+ votos_totales[2] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img src= '{% static "vv/images/no.png" %}'/></td>"+
                     "        <td>"+ votos_totales[1] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img src= '{% static "vv/images/abstencion.png" %}'/></td>"+
                     "        <td>"+ votos_totales[0] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img src= '{% static "vv/images/inasistencia.png" %}'/></td>"+
                     "        <td>"+ votos_totales[3] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img src= '{% static "vv/images/persona.png" %}'/></td>"+
                     "        <td>"+ vci +"</td>"+
                     "    </tr>";
            }

            html += "</table>";
            html += "</table><p>"
                            +"<img src= '{% static "vv/images/si.png" %}'/> Sí  "
                            +"<img src= '{% static "vv/images/no.png" %}'/> No  "
                            +"<img src= '{% static "vv/images/abstencion.png" %}'/> Se abstuvo  "
                            +"<img src= '{% static "vv/images/inasistencia.png" %}'/> No asistió  "
                            +"<br><img src= '{% static "vv/images/persona.png" %}'/> Donde se ubicó  <br>"
                            +"</p>";

            document.getElementById("tabla").innerHTML = html;
    }
    function dibujarDisciplina(disciplina, anios, color) {
        var html = "<br> <br> <h4>" + "DISCIPLINA DEL CONGRESISTA <br> Índice IAP</h4>";
        document.getElementById("titulo_disciplina").innerHTML = html;
        congresista_chart = [];
        for (i=0; i<anios.length; i++){
            document.getElementById("titulo_"+anios[i]).innerHTML = anios[i];
            if (disciplina[i] == -1) {
                document.getElementById("chart_"+i).innerHTML = "<br><br><p>Todavía no hay votaciones de este "
                + "congresista para este periodo</p>";
            }
            else {
                $(function () {
                    var gaugeOptions = {
                        chart: {
                            type: 'solidgauge'
                        },
                        title: null,
                        pane: {
                            center: ['50%', '85%'],
                            size: '140%',
                            startAngle: -90,
                            endAngle: 90,
                            background: {
                                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                                innerRadius: '60%',
                                outerRadius: '100%',
                                shape: 'arc'
                            }
                        },
                        tooltip: {
                            enabled: false
                        },

                        // the value axis
                        yAxis: {
                            stops: [
                                [1, color]
                            ],
                            lineWidth: 0,
                            minorTickInterval: null,
                            tickPixelInterval: 400,
                            tickWidth: 0,
                            title: {
                                y: -70
                            },
                            labels: {
                                y: 16
                            }
                        },

                        plotOptions: {
                            solidgauge: {
                                dataLabels: {
                                    y: 5,
                                    borderWidth: 0,
                                    useHTML: true
                                }
                            }
                        }
                    };
                    // The speed gauge
                    element_id = "#chart_"+i;
                    console.log(element_id);
                    $(element_id).highcharts(Highcharts.merge(gaugeOptions, {
                        yAxis: {
                            min: 0,
                            max: 1,
                            title: {
                                text: ''
                            }
                        },

                        credits: {
                            enabled: false
                        },

                        series: [{
                            name: '',
                            data: [disciplina[i]],
                            dataLabels: {
                                format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                                       '<span style="font-size:12px;color:silver">Nivel de disciplina</span></div>'
                            },
                            tooltip: {
                                valueSuffix: 'Nivel de disciplina',
                            }
                        }]

                    }));
                });
            }
        }
    }
</script>
{% endblock %}