{% extends "vv/base-nueva.html" %}

{% block imports%}
{% load staticfiles %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.2/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% endblock %}
{% block title %}Proyecto de ley - Votaciones Visibles{% endblock %}

{% block content %}
    <h1 id="tema_seleccionado">PROYECTO DE LEY</h1>
    <h2 id="proyecto_seleccionado"> {{proyecto.titulo}}</h2>
    <div class="w3-row">
        <div id="columna_izquierda" class="w3-col m6">
            <p>    <mark>TEMA PRINCIPAL:</mark> {{proyecto.tema_principal.nombre}}</p>
            <p class="w3-padding-right">    <mark>RESUMEN:</mark> {{proyecto.sinapsis}}</p>
            <p>    <mark>ESTADO ACTUAL:</mark> {{proyecto.estado_proyecto_ley_actual.estado.nombre}}
                ({{proyecto.estado_proyecto_ley_actual.fecha}})</p>
            <p>    <mark>PALABRAS CLAVE:</mark> {{proyecto.tags}}</p>
            <p>    <mark>INICIATIVA:</mark> {{proyecto.iniciativa.nombre}}</p>
            <p>    <mark>TIPO PROYECTO:</mark> {{proyecto.tipo_proyecto.nombre}}</p>
            <p>    <mark>FECHA RADICACIÓN:</mark> {{proyecto.fecha_radicacion}}</p>
            <p>    <mark>VOTACIONES:</mark>  <br>
                (Haga clic en una de las burbujas para ver los votos de los miembros de ese partido) </p>
            <div id="tabs" class="tabrow">
                <ul>
                    {% for estado in estados %}
                    <li><a href="#{{estado.id}}"> {{estado.estado.nombre}}</a></li>
                    {% endfor %}
                </ul>
                <div class="chart_container">
                    {% for estado in estados %}
                    <div id="{{estado.id}}">
                        <br> <h4> <br> Realizada el {{estado.fecha}}</h4>
                        <div id="{{estado.id}}-votaciones" class="chart_panel_votaciones"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div id="columna_derecha" class="w3-col m6 w3-padding-medium">
            <p>Digite el nombre del congresista o partido de su inter&#233;s para ver sus votos en este proyecto</p>
            <div class="ui-widget">
                <form id="votos" method="GET">
                    <input id="busqueda" name="busqueda">
                    <input type="hidden" name="ids_estados" value={{str_estados}}>
                    <input type="hidden" name="ids_votaciones" value={{str_votaciones}}>
                    <input id="submit" type="submit" class="btn-buscar" value="">
                </form>
            </div>
            <div id="tabla" class="tabla-detalle"></div>
        </div>
    </div>

    <script type="text/javascript" charset="UTF-8">
			$(function () {

	var votaciones = {{ votaciones_proyecto|safe }};
	var estados = {{ids_estados|safe}};

    for (estado of estados) {
        partidos = votaciones[estado];
        element_id = "#"+estado+"-votaciones"
        if (partidos.length == 0){
            str = "<br><br><h3> Esta votaci\xF3n se aprob\xF3 de manera ordinal. Es decir, se aume que todos los congresistas"
            +" votaron de la misma manera ya que no se llev\xF3 registro de los votos.</h3>";
            $(element_id).html(str);
        }
        else{
            fijox = 7;
            fijoy = 1.5;
            votos = [];
            var tooltip_votos = {};
            for(partido of partidos){
                votos = partido.data;
                tooltip_votos[partido.name] = partido.total_votos;
                temps = [];
                if (votos.inasistencias > 0){
                    ina = {name: "Inasistencias", x: fijox, y: fijoy+3*0, z: 100*votos.inasistencias/partido.total_votos,
                            total_votos: partido.total_votos};
                    temps.push(ina);
                }
                if (votos.abstenciones > 0){
                    abs = {name: "Abstenciones", x: fijox, y: fijoy+3*1, z: 100*votos.abstenciones/partido.total_votos,
                            total_votos: partido.total_votos};
                    temps.push(abs);
                }
                if (votos.no > 0){
                    no = {name: "No", x: fijox, y: fijoy+3*2, z: 100*votos.no/partido.total_votos,
                            total_votos: partido.total_votos};
                    temps.push(no);
                }
                if (votos.si > 0){
                    si = {name: "Si", x: fijox, y: fijoy+3*3, z: 100*votos.si/partido.total_votos,
                            total_votos: partido.total_votos};
                    temps.push(si);
                }
                partido.data = temps;
                fijox += 2;
            }
            partidos.push(
                {
                    enableMouseTracking: false,
                    color: 'transparent',
                    showInLegend: false,
                    data: [[3, 1.5, 0]]
                },{
                    enableMouseTracking: false,
                    color: 'transparent',
                    showInLegend: false,
                    data: [[5, 1.5, 0]]
                });

            $(element_id).highcharts({

                chart: {
                    type: 'bubble',
                    zoomType: 'none',
                    style: {
                            //fontFamily: 'sans-serif',
                    },
                },

                title: {
                    text: ''
                },
                tooltip: {
                    formatter: function() {
                        temp = +this.point.z.toFixed(2)
                        return '<b>'+this.series.name + ': </b><br>'+
                            this.point.name+": "+temp+"% <br>"+
                            Math.round(0.01*this.point.total_votos*this.point.z)+
                            " de "+this.point.total_votos+" congresistas";
                    }
                },
                plotOptions: {
                    series: {
                        events: {
                            click: function (event) {
                                document.getElementById('busqueda').value = this.name;
                                document.getElementById('submit').click();
                            },
                        },
                    },
                    bubble: {
                        maxSize:'17%',
                        marker: {
                            lineWidth: 0,
                        },
                    },
                },
                xAxis: {
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    minorTickLength: 0,
                    tickLength: 0,
                },

                yAxis: {
                    gridLineWidth: 0,
                    lineWidth: 0,
                    minorGridLineWidth: 0,
                    lineColor: 'transparent',
                    labels: {
                        enabled: false
                    },
                    title: {
                        text: ''
                    },
                    minorTickLength: 0,
                    tickLength: 1,
                    plotLines: [
                    {
                        color: 'grey', // Color value
                        value: 0,
                        width: 2, // Width of the line
                        label: {
                            text: 'Inasistencias',
                            align: 'left',
                            y: -20,
                            style: {
                                color: 'grey',
                                fontWeight: 'bold',
                            },
                        },
                    },
                    {
                        color: 'grey', // Color value
                        value: 3,
                        width: 2, // Width of the line
                        label: {
                            text: 'Abstenciones',
                            align: 'left',
                            y: -20,
                            style: {
                                color: 'grey',
                                fontWeight: 'bold',
                            },
                        },
                    },
                    {
                        color: 'grey', // Color value
                        value: 6,
                        width: 2, // Width of the line
                        label: {
                            text: 'No',
                            align: 'left',
                            y: -20,
                            style: {
                                color: 'grey',
                                fontWeight: 'bold',
                            },
                        },
                    },
                    {
                        color: 'grey', // Color value
                        value: 9,
                        width: 2, // Width of the line
                        label: {
                            text: 'S\xED',
                            align: 'left',
                            y: -20,
                            style: {
                                color: 'grey',
                                fontWeight: 'bold',
                            },
                        },
                    }],
                },

                series: partidos,
            });
        }
    }
    });
	</script>
    <script type="text/javascript" charset="UTF-8">
        $(function() {
            $("#busqueda").autocomplete({
                source: "/busqueda/autocompletar/",
                minLength: 2,
            });
        });
    </script>
    <script type="text/javascript" charset="UTF-8">
        $(document).ready(function() {

            $("#votos").submit(function() { // catch the form's submit event
                $.ajax({ // create an AJAX call...
                    data: $(this).serialize(), // get the form data
                    //data: $("#busqueda").attr('value'),
                    type: $(this).attr('GET'),
                    url: '/busqueda/ver_votos/',
                    success: function(response) { // on success..
                        console.log("response");
                        console.log(response);
                        str_html = "";
                        q = $("#busqueda").attr('value');
                        if (response.tipo==0){
                            str_html = " <h2> Votos de "+q+"</h2>";
                            str_header = "<table> <tr> <th> Nombre Congresista </th>";
                            for (e of response.estados){
                                str_header +="<th>"+e+"</th>";
                            }
                            str_header +="</tr>";
                            str_sen = " <h3> Senadores </h3>"+str_header;
                            str_rep = " <h3> Representantes </h3>"+str_header;
                            boo_sen = false;
                            boo_rep = false;
                            for (c of response.datos){
                                str_temp ="<tr> <td>"+c.nombre+"</td>";
                                for (v of c.votos){
                                    if (v == 0){
                                        str_temp +="<td><img src= '{% static "vv/images/abstencion.png" %}'/></td>";
                                    }
                                    else if (v == 1){
                                        str_temp +="<td><img src= '{% static "vv/images/no.png" %}'/></td>";
                                    }
                                    else if (v == 2){
                                        str_temp +="<td><img src= '{% static "vv/images/si.png" %}'/></td>";
                                    }
                                    else if (v == 3){
                                        str_temp +="<td><img src= '{% static "vv/images/inasistencia.png" %}'/></td>";
                                    }
                                    else {
                                        str_temp +="<td> </td>";
                                    }
                                }
                                if (c.camara == 1){
                                    str_sen += str_temp+"</tr>";
                                    boo_sen = true;
                                }
                                else {
                                    str_rep += str_temp+"</tr>";
                                    boo_rep = true;
                                }
                            }
                        if (boo_sen){
                            str_html += str_sen+"</table>";
                        }
                        if (boo_rep){
                            str_html += str_rep+"</table>";
                        }
                        str_html += "<p>Leyenda:<br>"
                        +"<img src= '{% static "vv/images/si.png" %}'/> S\xED  "
                        +"<img src= '{% static "vv/images/no.png" %}'/> No  "
                        +"<img src= '{% static "vv/images/abstencion.png" %}'/> Se abstuvo  "
                        +"<img src= '{% static "vv/images/inasistencia.png" %}'/> No asistio  <br>"
                        +"Nota: si un campo est\xE1 vac\xEDo es porque el congresista no particip\xF3 de esa votaci\xF3n o porque fue"
                        +" aprobada de manera ordinal, es decir, no se registr\xF3 el voto de cada congresista.</p>";
                        }
                        else{
                            congresista = response.datos;
                            str_html = "<h3>"+congresista.camara+" "+congresista.nombre+"<br>"
                            +"("+congresista.partido+")</h3>";
                            str_html += "<table>";
                            c = 0;
                            for (e of response.estados){
                                str_html +="<tr>";
                                v = congresista.votos[c];
                                if (v == 0){
                                    str_html +="<td><img class='w3-padding-8' src= '{% static "vv/images/abstencion.png" %}'/></td>";
                                }
                                else if (v == 1){
                                    str_html +="<td><img class='w3-padding-8' src= '{% static "vv/images/no.png" %}'/></td>";
                                }
                                else if (v == 2){
                                    str_html +="<td><img class='w3-padding-8' src= '{% static "vv/images/si.png" %}'/></td>";
                                }
                                else if (v == 3){
                                    str_html +="<td><img class='w3-padding-8' src= '{% static "vv/images/inasistencia.png" %}'/></td>";
                                }
                                else {
                                    str_html +="<td> </td>";
                                }
                                str_html +="<th>"+e+"</th>";
                                str_html +="</tr>";
                                c++;
                            }
                            str_html += "</table><br><p>Leyenda:<br>"
                            +"<img class='w3-padding-8' src= '{% static "vv/images/si.png" %}'/> S\xED  "
                            +"<img class='w3-padding-8' src= '{% static "vv/images/no.png" %}'/> No  "
                            +"<img class='w3-padding-8' src= '{% static "vv/images/abstencion.png" %}'/> Se abstuvo  "
                            +"<img class='w3-padding-8' src= '{% static "vv/images/inasistencia.png" %}'/> No asisti\xF3  <br>"
                            +"Nota: si un campo est\xE1 vac\xEDo es porque el congresista no particip\xF3 de esa votaci\xF3n o porque fue"
                            +" aprobada de manera ordinal, es decir, no se registr\xF3 el voto de cada congresista.</p>";
                        }
                        $("#tabla").html(str_html); // update the DIV
                    }
                });
                return false;
            });
        });
    </script>
    <script type="text/javascript" charset="UTF-8">
        $("#tabs").tabs();
        $('#tabs').attr('display', 'block');
    </script>
{% endblock %}