{% extends "vv/base-nueva.html" %}

{% block imports%}
{% load staticfiles %}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.8.2/themes/base/jquery-ui.css" type="text/css" media="all" />
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/highcharts-more.js"></script>
{% endblock %}
{% block title %}{{ partido.nombre }} - Votaciones Visibles{% endblock %}

{% block content %}
    <h1 id="partido_seleccionado">
        <img id="logo" class="img-circle" style="border-color:{{partido.get_color}}" src="{{ partido.logo }}">
        <label for="logo">{{ partido.nombre|upper }}</label>
    </h1>
    <div class="w3-row">
        <div class="w3-container w3-half">
            <div class="numberCircle" style="border-color:{{partido.get_color}}">{{ num_senadores }}</div> senadores  <p></p>
            <div class="numberCircle" style="border-color:{{partido.get_color}}">{{ num_representantes }}</div> representantes
        </div>
        <div class="w3-container w3-half">
                <label>Filtre por tema los proyectos incluidos en el análisis </label>
                <select id="combobox">
                    <option value="-1">Todos los temas</option>
                    {% for tema in temas %}
                    <option value="{{ tema.id }}">{{ tema.nombre }}</option>
                    {% endfor %}
                </select>
            </div>
    </div>
    <br>
    <div class="w3-row">
        <div id="columna_izquierda" class="w3-twothird">
            <div id="charts_titulo"></div>
            <div class="w3-content">
            <table>
                <tr>
                    <td class="w3-quarter w3-center">
                        <h6 id="titulo_gubernamental"></h6>
                        <div id="chart_gubernamental" class="chart_resumen_votos"></div>
                    </td>
                    <td class="w3-quarter w3-center">
                        <h6 id="titulo_partido"></h6>
                        <div id="chart_partido" class="chart_resumen_votos"></div>
                    </td>
                    <td class="w3-quarter w3-center">
                        <h6 id="titulo_otros_partidos"></h6>
                        <div id="chart_otros_partidos" class="chart_resumen_votos"></div>
                    </td>
                    <td class="w3-quarter w3-center">
                        <h6 id="titulo_otras"></h6>
                        <div id="chart_otras" class="chart_resumen_votos"></div>
                    </td>
                </tr>
            </table>
            </div>
            <div id="disciplina">
                <div id="titulo_disciplina"></div>
                <div id="chart_disciplina"></div>
            </div>
        </div>
        <div id="columna_derecha" class="w3-third">
            <div id="tabla" class="tabla-detalle-partido"></div>
        </div>
    </div>
<script type="text/javascript" charset="UTF-8">
(function( $ ) {
		$.widget( "custom.combobox", {
			_create: function() {
				this.wrapper = $( "<span>" )
					.addClass( "custom-combobox" )
					.insertAfter( this.element );

				this.element.hide();
				this._createAutocomplete();
				this._createShowAllButton();
			},

			_createAutocomplete: function() {
				var selected = this.element.children( ":selected" ),
					value = selected.val() ? selected.text() : "";

				this.input = $( "<input>" )
					.appendTo( this.wrapper )
					//.val( value )
					.val( "Todos los temas" )
					.attr( "title", "" )
					.autocomplete({
						delay: 0,
						minLength: 0,
						source: $.proxy( this, "_source" )
					})
					//.tooltip({tooltipClass: "ui-state-highlight"});

				this._on( this.input, {
					autocompleteselect: function( event, ui ) {
						ui.item.option.selected = true;
						this._trigger( "select", event, {
							item: ui.item.option
						});
					},

					autocompletechange: "_removeIfInvalid"
				});
			},

			_createShowAllButton: function() {
				var input = this.input,
					wasOpen = false;

				$( "<a>" )
					.attr( "tabIndex", -1 )
					.tooltip()
					.appendTo( this.wrapper )
					.button({
						icons: {
							primary: "ui-icon-triangle-1-s"
						},
						text: false
					})
					.removeClass( "ui-corner-all" )
					//.addClass( "custom-combobox-toggle ui-corner-right" )
					.mousedown(function() {
						wasOpen = input.autocomplete( "widget" ).is( ":visible" );
					})
					.click(function() {
						input.focus();

						// Close if already visible
						if ( wasOpen ) {
							return;
						}

						// Pass empty string as value to search for, displaying all results
						input.autocomplete( "search", "" );
					});
			},

			_source: function( request, response ) {
				var matcher = new RegExp( $.ui.autocomplete.escapeRegex(request.term), "i" );
				response( this.element.children( "option" ).map(function() {
					var text = $( this ).text();
					if ( this.value && ( !request.term || matcher.test(text) ) )
						return {
							label: text,
							value: text,
							option: this
						};
				}) );
			},

			_removeIfInvalid: function( event, ui ) {

				// Selected an item, nothing to do
				if ( ui.item ) {
					return;
				}

				// Search for a match (case-insensitive)
				var value = this.input.val(),
					valueLowerCase = value.toLowerCase(),
					valid = false;
				this.element.children( "option" ).each(function() {
					if ( $( this ).text().toLowerCase() === valueLowerCase ) {
						this.selected = valid = true;
						return false;
					}
				});

				// Found a match, nothing to do
				if ( valid ) {
				    return;
				}

			},

			_destroy: function() {
				this.wrapper.remove();
				this.element.show();
			},
			//Aca llega cuando se elige una opcion
			_trigger: function(request, event, ui) {
			    var tema_id = -1;
			    if (ui != null){
			        tema_id = ui.item.value;
			    }
                var partido = {{ partido.id|safe }};
                $.ajax({ // ajax del resumen de votos
                    data: {'tema_id': tema_id, 'partido_id': partido},
                    type: $(this).attr('GET'),
                    url: '/busqueda/resumen_votos_partido/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarResumenVotos(response.resumen_votos);
                        }
                });
                $.ajax({ // ajax de la tabla
                    data: {'tema_id': tema_id, 'partido_id': partido},
                    type: $(this).attr('GET'),
                    url: '/busqueda/ultimas_votaciones_partido/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarTabla(response.ultimas_votaciones);
                        }
                });
                $.ajax({ // ajax de la disciplina
                    data: {'tema_id': tema_id, 'partido_id': partido},
                    type: $(this).attr('GET'),
                    url: '/busqueda/disciplina_partido/',
                    success:
                        function(response) { // on success..
                            console.log("response");
                            console.log(response);
                            dibujarDisciplina(response.disciplina_rice, response.anios);
                        }
                });
			},

		});
	})( jQuery );

	$(function() {
		$( "#combobox" ).combobox();
		$( "#toggle" ).click(function() {
			$( "#combobox" ).toggle();
		});
	});
</script>
<script type="text/javascript" charset="UTF-8">
    function dibujarResumenVotos(resumen) {
        var html = "<h4>" + "RESUMEN DE VOTOS <br>" + resumen.tema + " (" + resumen.total_proyectos + " proyectos)</h4>";
        document.getElementById("charts_titulo").innerHTML = html;
        iniciativas = ["gubernamental", "partido", "otros_partidos", "otras"];
        document.getElementById("titulo_gubernamental").innerHTML = "INICIATIVA<br>GUBERNAMENTAL<br>("+resumen['gubernamental'].num_votos+" votos)";
        document.getElementById("titulo_partido").innerHTML = "INICIATIVA<br>DEL PARTIDO<br>("+resumen['partido'].num_votos+" votos)";
        document.getElementById("titulo_otros_partidos").innerHTML = "INICIATIVA<br>OTROS PARTIDOS<br>("+resumen['otros_partidos'].num_votos+" votos)";
        document.getElementById("titulo_otras").innerHTML = "OTRAS<br>INICIATIVAS<br>("+resumen['otras'].num_votos+" votos)";
        for (iniciativa of iniciativas) {
            element_id = "#chart_"+iniciativa;
            $(function () {
	        $(element_id).highcharts({
	            chart: {
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: true,
	                type: 'pie',
	                style: {
                    fontFamily: 'sans-serif',
                },
	            },
	            title: {
	                text: ''
	            },
	            tooltip: {
	                pointFormat: '<b>{point.percentage:.1f}% <br> ({point.y} votos)</b>'
	            },
	            plotOptions: {
	                pie: {
	                    allowPointSelect: true,
	                    cursor: 'pointer',
	                    dataLabels: {
	                        enabled: false
	                    },
	                    showInLegend: true
	                }
	            },
	            series: [{
	                name: "Votos",
	                colorByPoint: true,
	                innerSize: '50%',
	                data: [{"name": "Sí", "y": resumen[iniciativa].si, "color":'#149E00'},
	                       {"name": "No", "y": resumen[iniciativa].no, "color":'#CD0000'},
	                       {"name": "Abstenciones", "y": resumen[iniciativa].abstenciones, "color":'#D3D3D3'},
	                       {"name": "Inasistencias", "y": resumen[iniciativa].inasistencias, "color":'#E1E100'}],
	            }],
	            });
	        });
        }
    }
    function dibujarTabla(proyectos) {
         var html = '<h4>ÚLTIMAS VOTACIONES DEL PARTIDO</h4><table class="tabla-partido">';
            for (proyecto of proyectos) {
                var url = "{% url 'proyecto' 990 %}".replace("990",  proyecto.id);
                var votos_partido = proyecto.votos_partido;
                var votos_totales = proyecto.votos_totales;
                html += "<tr>"+
                     '        <td colspan=8 class="tabla-partido-tr-lleno"><a href=" '+url+' ">'+ proyecto.nombre +"</a></td>"+
                     "    </tr>"+
                     "    <tr>"+
                     "        <td class='tabla-partido-td-imagen'><img class='w3-padding-8' src= '{% static "vv/images/si.png" %}'/></td>"+
                     "        <td>"+ votos_partido[2] +" / "+ votos_totales[2] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img class='w3-padding-8' src= '{% static "vv/images/no.png" %}'/></td>"+
                     "        <td>"+ votos_partido[1] +" / "+ votos_totales[1] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img class='w3-padding-8' src= '{% static "vv/images/abstencion.png" %}'/></td>"+
                     "        <td>"+ votos_partido[0] +" / "+ votos_totales[0] +"</td>"+
                     "        <td class='tabla-partido-td-imagen'><img class='w3-padding-8' src= '{% static "vv/images/inasistencia.png" %}'/></td>"+
                     "        <td>"+ votos_partido[3] +" / "+ votos_totales[3] +"</td>"+
                     "    </tr>";
            }

            html += "</table>";
            html += "</table><p>"
                            +"<img src= '{% static "vv/images/si.png" %}'/> Sí  "
                            +"<img src= '{% static "vv/images/no.png" %}'/> No  "
                            +"<img src= '{% static "vv/images/abstencion.png" %}'/> Se abstuvo  "
                            +"<img src= '{% static "vv/images/inasistencia.png" %}'/> No asistió  <br>"
                            +"Los datos se muestran así:<br> votación del partido/votación total</p>";

            document.getElementById("tabla").innerHTML = html;
    }
    function dibujarDisciplina(partidos, anios) {
        var html = "<br> <br> <h4>" + "DISCIPLINA DEL PARTIDO <br> Índice RICE</h4>";
        html += "<h6>" + "Seleccione los partidos que desea comparar</h6>";
        document.getElementById("titulo_disciplina").innerHTML = html;
        partidos_chart = [];
        for (nombre_partido in partidos){
            if (partidos.hasOwnProperty(nombre_partido)) {
                partido = partidos[nombre_partido];
                p = {name: partido.nombre, color: partido.color, visible: partido.seleccionado, data: []};
                d = [];
                for (anio of anios){
                    if (partido.hasOwnProperty(anio)) {
                        d.push(partido[anio].disciplina);
                    }
                }
                p.data = d;
                partidos_chart.push(p);
            }
        }
        console.log(partidos_chart);
        $(function () {
	        $("#chart_disciplina").highcharts({
	            chart: {
	                plotBackgroundColor: null,
	                plotBorderWidth: null,
	                plotShadow: true,
	                height: 600,
	                type: 'line',
	                style: {
                        fontFamily: 'sans-serif',
                    },
	            },
	            title: {
	                text: ''
	            },
	            xAxis: {
		            categories: anios,
		            title: {
		                text: 'Legislatura'
		            },
		        },
		        yAxis: {
		            title: {
		                text: 'Nivel de disciplina'
		            },
		            plotLines: [{
		                value: 0,
		                width: 1,
		                color: '#808080'
		            }]
		        },
		        legend: {
                    layout: 'vertical',
                    align: 'center',
                    verticalAlign: 'bottom',
                },
	            tooltip: {
	                pointFormat: '{point.series.name}<br><b>{point.y}</b>'
	            },
	            plotOptions: {
	                line: {
	                    marker: {
	                        symbol: 'circle',
	                    },
	                },
	            },
	            series: partidos_chart,
	        });
	    });
    }
</script>
{% endblock %}