{% extends "vv/base-nueva.html" %}

{% block imports%}
{% load staticfiles %}
{% endblock %}
{% block title %}Votaciones Visibles{% endblock %}

{% block content %}
    <div class="w3-container">
        <div id="columna_izquierda" class="w3-third w3-grey w3-content w3-padding">
            <h2 class="w3-text-white w3-center">¿Qué es Votaciones Visibles?</h2>
            <p>Es un sitio web que le permite ver, de manera fácil y sencilla, cómo han sido las votaciones del Congreso
                colombiano en el presente cuatrienio (2014-2018).<br>
                Además, acá puede conocer qué proyectos de ley están en curso, cómo fueron sus votaciones y analizar
                cómo ha sido el comportamiento de los congresistas y de los partidos políticos</p>
        </div>
        <div id="columna_derecha" class="w3-twothird w3-content w3-display-container w3-padding w3-light-grey">
            <div class="mySlides">
                <h2 class="w3-center">¿Quiénes proponen proyectos de ley en el Congreso?</h2>
                <p>Un proyecto puede tener uno o varios autores. Pueden ser congresistas, alguna entidad del gobierno
                    o de un conjunto de ciudadanos. <br>
                    En Votaciones Visibles puede ver cómo votan los partidos políticos y los congresistas los proyectos
                    que provienen de personas del partido, de otros partidos, del gobierno y de otras fuentes. Para
                    comprobarlo seleccione uno de los partidos en la barra de la izquierda o busque el congresista de
                    su interés en la <a href="{% url 'camara' %}" class="w3-text-teal"> Cámara </a>
                    o en el <a href="{% url 'camara' %}" class="w3-text-teal"> Senado </a>.
                </p>
            </div>
            <div class="mySlides">
                <h2 class="w3-center">¿Qué es la disciplina?</h2>
                <p>Es el grado de cohesión inerna que tiene un partido. Es decir, es una medida que indica qué tan
                    parecido se comportan los miembros del partido. En términos de votaciones, se refiere a la
                    probabilidad con la que un congresista vota igual que su colectividad.<br>
                    En Votaciones Visibles puede ver la disciplina interna de cada partido y la de cada congresista,
                    para probarlo, seleccione uno de los partidos de la barra de la izquierda o busque el congresista de
                    su interés en la <a href="{% url 'camara' %}" class="w3-text-teal"> Cámara </a>
                    o en el <a href="{% url 'camara' %}" class="w3-text-teal"> Senado </a>.
                </p>
            </div>
            <div class="mySlides">
                <h2 class="w3-center">¿Cuáles son los temas más comunes de los proyectos de ley?</h2>
                <p>En la sección de <a href="{% url 'proyectos' %}" class="w3-text-teal"> proyectos de ley</a> se pueden
                    ver todos los temas por cantidad de proyectos propuestos y en cada uno se puede observar cuántos
                    han sido sancionados, archivados y los que siguen en debate. <br>
                    Además, se puede ven en detalle cada proyecto de ley, viendo sus votaciones y los votos que cada
                    congresista ha emitido.
                </p>
            </div>
            <div class="w3-center w3-section w3-large w3-text-teal w3-display-bottomleft" style="width:100%">
                <div class="w3-left w3-padding-left w3-hover-text-grey" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-padding-right w3-hover-text-grey" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-grey" onclick="currentDiv(3)"></span>
            </div>
        </div>
    </div>
    <div class="w3-section w3-border-top w3-border-teal">
        <h2>Últimas votaciones registradas</h2>
        {% for p in ultimos %}
            <div class="w3-border w3-border-teal w3-quarter w3-margin-right w3-padding" style="width: 23%; height: 250px">
                <p class="w3-small w3-left w3-hover-none">{{ p.tema }} <br> {{ p.fecha }}</p> <br> <br>
                <h3 class="w3-medium w3-center"><a href='/proyectos/{{ p.id }}'>{{ p.nombre|upper }}</a></h3>
                <p class="w3-small w3-left w3-hover-none">{{ p.texto }}</p>
            </div>
        {% endfor %}
    </div>
<script>
    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
      showDivs(slideIndex += n);
    }

    function currentDiv(n) {
      showDivs(slideIndex = n);
    }

    function showDivs(n) {
      var i;
      var x = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("demo");
      if (n > x.length) {slideIndex = 1}
      if (n < 1) {slideIndex = x.length}
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      for (i = 0; i < dots.length; i++) {
         dots[i].className = dots[i].className.replace(" w3-teal", "");
      }
      x[slideIndex-1].style.display = "block";
      dots[slideIndex-1].className += " w3-teal";
    }
</script>
{% endblock %}