{% extends "vv/base-nueva.html" %}

{% block imports%}
{% load staticfiles %}
{% endblock %}
{% block title %}Congreso - Votaciones Visibles{% endblock %}

{% block content %}
    <h1 id="tema_seleccionado">CONGRESO</h1>
    <div id="columna_izquierda" class="w3-col">
        <a href="/congreso/senado">
            <h1 style="text-align:center">Senado</h1>
            <div id="circle-senado"></div>
        </a>
        <!--<img src="{% static 'vv/images/main_linea.png' %}">-->

    </div>
    <div id="columna_derecha" class="w3-col">
        <a href="/congreso/camara">
            <h1 style="text-align:center">Cámara</h1>
            <div id="circle-camara"></div>
        </a>
    </div>
{% endblock %}