/*Colores de la pagina */
/*
$aguamarina= #37AB9C;
$gris_claro= #9D999A;
$gris_oscuro= #575354;
*/

/* Fuente para toda la pagina */
@font-face {
  font-family: flama basico;
  src: url(../fonts/Flama-Basic.otf);
  src: local(../fonts/Flama-Basic.otf);
}
@font-face {
  font-family: flama light;
  src: url(../fonts/Flama-Light.otf);
  src: local(../fonts/Flama-Light.otf);
}

/* Seccion con el logo, proyectos clave y el buscador */
#header {
    text-align:left;
    padding:5px 200px;
}
img.header-img {
    width: 35%;
    height: 35%;
    padding:10px 0px;
}
ul#header-pclave {
    position: relative;
    left: 30px;
    top: 27px;
    text-align: left;
    background-color: white;
    border: 2px solid #9D999A;
    box-shadow: 1px 2px 1px #575354;
    padding: 10px 10px;
    float: right;
}
ul#header-pclave li {
    display: inline;
    text-align: center;
    color: #575354;
    font-family: flama light;
    font-weight: bold;
    font-size: small;
    padding: 0px 4px;
    text-decoration: none;
    overflow: hidden;
}
ul#header-pclave li a {
    font-weight: normal;
    color: #9D999A;
    padding: 0px 0.5px;
    text-decoration: none;
}
table.header-tabla {
    position: absolute;
    right: 20px;
    top: 33px;
    border: 1px solid #9D999A;
    padding: 0px 0px;
}
input.btn-buscar {
    background: url(../images/buscar.png) no-repeat center;
    cursor: pointer;
    padding: 4px 7px;
    border: 0;
}
input.txt-buscar {
    font-size: small;
    border: 0px solid white;
    border-left: 1px solid #9D999A;
    padding: 0px 4px;
    width: 100px;
}
p.header-tabla {
    font-family: flama light;
    font-size: small;
    text-align: right;
    color: #575354;
    padding: 0px 4px;
    text-transform: uppercase;
    margin: 0;
}
p.header-tabla b{
    font-family: flama light;
    font-size: small;
    text-align: right;
    color: #575354;
    padding: 0px 1px;
    text-transform: none;
    margin: 0;
}
tr.header-tabla td{
    border-bottom:1pt solid #9D999A;
    color: #575354;
    padding: 0px 0px;
}
tr.header-tabla2 td{
    color: #575354;
    padding: 0;
}

/* Bara de navegacion lateral -------------------------*/
#sidebar {
    float:left;
    line-height:25px;
    height:800px;
    width:200px;
    padding:5px;
}
ul.sidebar-secciones {
      padding: 0;
      list-style-type: none;
      overflow: hidden;
    }
ul.sidebar-secciones li {
      display: block;
      width: 160px;
      padding: 7px 0px;
    }
ul.sidebar-secciones li a {
       display: block;
       width: 160px;
       text-align: center;
       font-family: flama light;
       background-color: #37AB9C;
       color: white;
       padding: 0.5px 5px;
       text-decoration: none;
       text-transform: uppercase;
    }
ul.sidebar-secciones li p {
       display: block;
       width: 160px;
       text-align: center;
       font-family: flama light;
       background-color: #37AB9C;
       color: white;
       padding: 0px 5px;
       margin: 0;
       text-decoration: none;
       text-transform: uppercase;
    }
ul.sidebar-detalle{
    padding: 0;
      list-style-type: none;
      overflow: hidden;
}
ul.sidebar-detalle li {
      list-style-type: none;
      overflow: hidden;
      display: block;
      padding: 1px 0px;
    }
ul.sidebar-detalle li a {
       display: block;
       width: 150px;
       text-align: right;
       background-color: white;
       font-family: flama light;
       font-weight: normal;
       color: #575354;
       padding: 1px 0px;
       text-decoration: none;
       text-transform: none;
       border-bottom: solid #37AB9C;
    }

/*Div con el contenido de cada pagina */
#content {
    width: 80%;
    height: 1000;
    float: left;
    margin-left: -10px;
    padding: 5px 20px;
    font-family: flama light;
    color: #575354;
}

/*footer de la pagina */
#footer {
    font-family: flama light;
    background-color:#37AB9C;
    color:white;
    clear:both;
    text-align: center;
    padding:0px;
}

.treemap {
    font-family: flama light;
    background-color:#37AB9C;
    color:white;
    clear:both;
    text-align: center;
    padding:0px;
}

/*css para los div que contienen las graficas */
#chart_panel {
    margin: 0px 0px;
    padding: 0px 0px;
    float: left;
    width: 100%;
    height: 400px
}
#tema_seleccionado h1 {
    padding: 0px 0px;
    margin: 0px 0px;
    color: #9D999A;
}
#proyecto_seleccionado h2 {
    padding: 0px 0px;
    margin: 0px 0px;
    color: #575354;
}

.info {
    background-color: #9D999A;
    position: relative;
    text-align: justify;
    float: left;
    color: black;
    right: 10px;
    width: 25%;
    padding: 2px 5px;
    margin: 10px 17px;
}
.info h3 {
    color: white;
    text-align: center;
}
.info p {
    margin: 20px 20px;
}

.tabla{
    position: relative;
    top: 0px;
    left: 10px;
    width: 80%;
    float: left;
    color: #575354;
}
.tabla table {
    border-collapse: collapse;
}
.tabla td {
    padding: 5px 10px;
    border: 0.5px solid #9D999A;
}
.tabla a{
    color: #575354;
    text-decoration: none;
}
.tabla a:hover{
    color: #37AB9C;
}
/*Para las paginas divididas por 2 columnas*/
#columna_derecha {
  float: right;
  width: 50%;
  background-color: #CCF;
}
#columna_derecha h4{
    padding: 5px 5px;
    margin: 2px 2px;
    text-transform: none;
}
#columna_izquierda {
  float: left;
  width: 50%;
  margin-left: 0px;
  background-color: #FFA;
  text-align: left;
}