/*Colores de la pagina */
/*
$aguamarina= #37AB9C;
$gris_claro= #9D999A;
$gris_oscuro= #575354;
*/

/* Fuente para toda la pagina */
@font-face {
  font-family: flama basico;
  src: url(../fonts/Flama-Basic.otf);
  src: local(../fonts/Flama-Basic.otf);
}
@font-face {
  font-family: flama light;
  src: url(../fonts/Flama-Light.otf);
  src: local(../fonts/Flama-Light.otf);
}

/* Seccion con el logo, proyectos clave y el buscador */
#header {
    text-align:left;
    padding: 0.3em 12.5em;
}
img.header-img {
    width: 35%;
    height: 35%;
    padding: 0.625em 0em;
    position: relative;
    left: 0em;
    top: 0.2em;
}
ul#header-pclave {
    position: absolute;
    left: 32.2em;
    top: 2em;
    text-align: left;
    border: 0.125em solid #9D999A;
    box-shadow: 0.0625em 0.125em 0.0625em #575354;
    padding: 0.625em 0.625em;
    float: right;
}
ul#header-pclave li {
    display: inline;
    text-align: center;
    color: #575354;
    font-family: flama light;
    font-weight: bold;
    font-size: small;
    padding: 0em 0.3em;
    text-decoration: none;
    overflow: hidden;
}
ul#header-pclave li a {
    font-weight: normal;
    color: #9D999A;
    padding: 0em 0.03125em;
    text-decoration: none;
}
table.header-tabla {
    position: absolute;
    right: 1.25em;
    top: 1.7em;
    border: 0.0625em solid #9D999A;
    padding: 0em 0em;
}
input.btn-buscar {
    background: url(../images/buscar.png) no-repeat center;
    cursor: pointer;
    padding: 0.25em 0.4375em;
    border: 0;
}
input.txt-buscar {
    font-size: small;
    border: 0em solid white;
    border-left: 1px solid #9D999A;
    padding: 0em 0.25em;
    width: 6.25em;
}
p.header-tabla {
    font-family: flama light;
    font-size: small;
    text-align: right;
    color: #575354;
    padding: 0em 0.25em;
    text-transform: uppercase;
    margin: 0em 0em;
}
p.header-tabla b{
    font-family: flama light;
    font-size: small;
    text-align: right;
    color: #575354;
    padding: 0em 0.0625em;
    text-transform: none;
    margin: 0;
}
tr.header-tabla td{
    border-bottom:1pt solid #9D999A;
    color: #575354;
    padding: 0em 0em;
}
tr.header-tabla2 td{
    color: #575354;
    padding: 0;
}

/* Bara de navegacion lateral -------------------------*/
#sidebar {
    float:left;
    line-height: 1.5625em;
    width: 11em;
    padding: 0.3em;
}
ul.sidebar-secciones {
      padding: 0;
      list-style-type: none;
      overflow: hidden;
    }
ul.sidebar-secciones li {
      display: block;
      width: 10em;
      padding: 0.4375em 0em;
    }
ul.sidebar-secciones li a {
       display: block;
       width: 10em;
       text-align: center;
       font-family: flama light;
       background-color: #37AB9C;
       color: white;
       padding: 0.03125em 0.3125em;
       text-decoration: none;
       text-transform: uppercase;
    }
ul.sidebar-secciones li p {
       display: block;
       width: 10em;
       text-align: center;
       font-family: flama light;
       background-color: #37AB9C;
       color: white;
       padding: 0em 0.3125em;
       margin: 0;
       text-decoration: none;
       text-transform: uppercase;
    }
ul.sidebar-detalle{
      padding: 0;
      list-style-type: none;
      overflow: hidden;
}
ul.sidebar-detalle li {
      list-style-type: none;
      overflow: hidden;
      display: block;
      padding: 0.0625em 0em;
    }
ul.sidebar-detalle li a {
       display: block;
       width: 9.375em;
       text-align: right;
       background-color: white;
       font-family: flama light;
       font-weight: normal;
       color: #575354;
       padding: 0.0625e 0em;
       text-decoration: none;
       text-transform: none;
       border-bottom: solid #37AB9C;
    }

/*Div con el contenido de cada pagina */
#content {
    width: 80%;
    float: left;
    margin-left: -0.625em;
    padding: 0.3125em 1.25em;
    font-family: flama light;
    color: #575354;
}

/*footer de la pagina */
#footer {
    font-family: flama light;
    background-color:#37AB9C;
    color:white;
    clear:both;
    text-align: center;
    padding: 0em;
    margin-bottom: 0em;
}

.treemap {
    font-family: flama light;
    background-color: #37AB9C;
    color: white;
    clear: both;
    text-align: center;
    padding: 0em;
}

/*css para los div que contienen las graficas */
.chart_panel_proyectos {
    background: none;
    margin: 0em 0em;
    padding: 0em 0em;
    float: left;
    width: 100%;
    height: 30em;
}
.chart_panel_votaciones {
    background: none;
    margin: 0em 0em;
    padding: 0em 0em;
    float: left;
    width: 38em;
    height: 33em;
}
.chart_container > div {
    display:none;
    height: 40em;
    width: 100%;
}
.chart_container > div:first-child {
    display:block;
    width: 40em;
    height: 35em;
}
#tema_seleccionado h1 {
    padding: 0em 0em;
    margin: 0em 0em;
    color: #9D999A;
}
#proyecto_seleccionado h2 {
    padding: 0em 0em;
    margin: 0em 0em;
    color: #575354;
}

.info {
    background-color: #9D999A;
    position: relative;
    text-align: justify;
    float: left;
    color: black;
    right: 0.625em;
    width: 25%;
    padding: 0.125em 0.3125em;
    margin: 0.625em 1.0625em;
}
.info h3 {
    color: white;
    text-align: center;
}
.info p {
    margin: 1.25em 1.25em;
}

.tabla{
    position: relative;
    top: 0em;
    left: 0.625em;
    width: 80%;
    float: left;
    color: #575354;
}
.tabla table {
    border-spacing: 0px;
}
.tabla td {
    padding: 0.3125em 0.625em;
    border: 0.03125em solid #9D999A;
}
.tabla a{
    color: #575354;
    text-decoration: none;
}
.tabla a:hover{
    color: #37AB9C;
}
/*Para las paginas divididas por 2 columnas*/
#columna_derecha {
  float: right;
  width: 40%;
}
#columna_izquierda {
  float: left;
  width: 57%;
  margin-left: 0em;
  margin-right: 10px;
  text-align: left;
}
#columna_izquierda mark{
    font-weight: bold;
    background: none;
    color: #575354;
}
#columna_izquierda p{
    padding: 0em 0em;
    margin-left: 0em;
}

#busqueda{
    width: 84%;
    font-family: flama light;
    color: #575354;
    border: 0.03125em solid #9D999A;
    font-size: medium;
}
.ui-widget{
    font-family: flama light;

}
.ui-widget ul{
    color: #575354;
    list-style-type: none;
    overflow: hidden;
    float: left;
}
.ui-widget li{
    list-style-type: none;
    font-size: small;
    padding: 0em 0em;
    text-decoration: none;
    width: 30%;
    overflow: hidden;
    display: block;
}
#tabs {
    font-family: flama light;
    color: #575354;
    border: 0em solid transparent;
    font-size: small;
    background: none;
}
.tabrow {
    font-family: flama light;
    background: none;
}
.tabrow ul {
    color: #575354;
    list-style-type: none;
    overflow: hidden;
    float: left;
    background: none;
    border: 0em solid transparent;
}
.tabrow li {
    white-space: pre;
    margin-bottom: 0.0625em;
	padding-bottom: 0.0625em;
	border: 0em solid transparent;
}

.tabla-detalle{
    position: relative;
    top: 0em;
    left: 0.625em;
    width: 80%;
    float: left;
    color: #575354;
    font-size: small;
}
.tabla-detalle table {
    border-spacing: 0px;
}
.tabla-detalle td {
    padding: 0.01em 0.625em;
    border: 0.01em solid #9D999A;
    text-align: center;
}
.tabla-detalle th {
    text-align: left;
}
.tabla-detalle a{
    color: #575354;
    text-decoration: none;
}
.tabla-detalle a:hover{
    color: #37AB9C;
}